/* Tablette */

.hero-section {
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

.hero-section img {
    width: 600px;
    height: 100%;
    max-width: none;
    object-fit: cover;
    display: block;
}

.hero-section.flex-reverse {
    flex-direction: column-reverse;
}

.img-object-position-top {
    object-position: top;
}

.img-object-position-bottom {
    object-position: bottom;
}

.section-dashboard {
    margin: 25px;
    padding: 25px;
}

.login-container {
    width: 450px;
    margin: 25px auto;
    padding: 25px;
}

/* Infos dernière mise à jour */
.lu-desktop {
    display: none;
}