/* Mobile */

html, body {
    min-width: 400px;
}

header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.logo_header img, .logo_footer img {
    max-width: 60px;
    height: auto;
}

nav {
    padding-top: 10px;
}

.nav-btn {
    padding: 10px 10px;
}

footer {
    padding: 5px 0px;
}

footer nav {
    padding: 0;
}

.logo_footer {
    flex-direction: column-reverse;
}

.logo_footer p {
    padding-right: 10px;
    margin: 0;
}

/* Page Accueil / Index */
.hero h1 {
    font-size: 1.5rem;
}

.community-tag {
    font-size: 1.25rem;
}

/* Styles pour écrans < 450px */
@media screen and (max-width: 450px) {
    .hero h1 {
        font-size: 1.3rem; /* encore plus petit pour mobile */
    }

    .community-tag {
        font-size: 1.1rem;
    }
}

.hero-motto {
    font-size: 1rem;
}

.hero-subtitle {
    font-size: 0.875rem;
}

.hero {
    padding: 40px 10px 20px;
}

.hero-section {
    flex-direction: column;
    /* margin: 20px;
    padding: 20px; */
}

.hero-section.flex-reverse {
    flex-direction: column-reverse;
}

.hero-section img,
.hero-text-block {
    width: 100%;
    max-width: 100%;
}

.hero-section img {
    max-height: 200px;
    object-fit: cover;
}

.img-object-position-top {
    object-position: top;
}

.img-object-position-bottom {
    object-position: bottom;
}

.hero-streams .stream-buttons {
    flex-direction: column;
}

.stream-buttons {
    align-items: center;
}

.stream-btn {
    justify-content: center;
    width: 80%;
    padding: 14px 0px
}

.discord-btn {
    padding: 14px 22px;
}

/* Page Classements */

/* Infos dernière mise à jour */
.lu-desktop,
.lu-tablet {
    display: none;
}

/* Connexion au dashboard */
.login-container {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
}

/* dashboard */
.section-dashboard {
    margin: 20px;
    padding: 20px;
}

.msg-success {
    margin: 15px;
    padding: 20px;
}

.msg-error {
    margin: 15px;
    padding: 20px;
}

.section-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.dashboard-table th, .dashboard-table td {
    font-size: 0.875rem;
}

/* Modal Afficher les résultats complets */
.gp-modal-content {
    padding: 15px;
}
.gp-details-container .dashboard-table th,
.gp-details-container .dashboard-table td {
    padding: 6px 8px;
}

/* Bouton retour en haut */
/* Responsive : plus petit et mieux placé */
#scrollToTop {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    font-size: 1rem;
}

/* Page Classements */

/* Bordure des titles h2 de chaque catégorie */
.category-title.has-content {
    padding: 5px 20px;
}

/* Saison */
.category-title .season-title {
    margin-left: 0px;
}

/* Videogame + platform */
.category-title .category-extra {
    margin-left: 0px;
}

/* Pour réduire l'espace verticale si il y a un retour à la ligne */
.category-title {
    line-height: 0.8;
}

/* .season-title {
    line-height: 1.1;
}

.category-extra {
    line-height: 1.2;
} */

/* Badges 1 / 2 / 3 ... */
.badge {
    padding: 0px;
}

.dashboard-table th.badge-width,
.dashboard-table td.badge-width {
    width: 20px;
}

/* Classements */
/* Classement Pilotes uniquement */
.drivers-table thead th:nth-child(1)::after { content: ""; }
.drivers-table thead th:nth-child(2)::after { content: "Pilote"; }
.drivers-table thead th:nth-child(3)::after { content: ""; }
.drivers-table thead th:nth-child(4)::after { content: "Pts"; }
.drivers-table thead th:nth-child(5)::after { content: "GP"; }
.drivers-table thead th:nth-child(6)::after { content: "Vi"; }
.drivers-table thead th:nth-child(7)::after { content: "Po"; }
.drivers-table thead th:nth-child(8)::after { content: "PP"; }
.drivers-table thead th:nth-child(9)::after { content: "FL"; }

.drivers-table thead th {
    font-size: 0;
}

.drivers-table thead th::after {
    font-size: 0.875rem;
}

/* Colonne Pilote */
.drivers-table td.driver-cell,
.drivers-table th:nth-child(2) {
    width: 30%;
}

.driver-teams-flag {
    height: 8px;
    margin-right: 3px;
    vertical-align: middle;
}

/* Colonne Équipe */
.drivers-table td.team-cell,
.drivers-table th:nth-child(3) {
    width: 10%;
}

/* Cache le nom des écuries */
.drivers-table .team-name {
    display: none;
}

/* Background image logo écurie */
.team-cell {
    background-position: right -40px center;
    background-size: 110px auto;
}

/* Classement Equipes uniquement */

.teams-table thead th::after {
    font-size: 0.875rem;
}

/* Colonne Équipe */
.teams-table td.team-cell,
.teams-table th:nth-child(2) {
    width: 70%;
}

.team-logo-bg {
    right: -40px;
}

.team-gradient {
    background: linear-gradient(
        to left,
        color-mix(in srgb, var(--team-color) 100%, transparent) 60%,
        color-mix(in srgb, var(--team-color) 0%, transparent) 90%
    );
}

/* Tableaux Pénalités uniquement */

.penalties-table thead th:nth-child(4)::after { content: "Pén"; }
.penalties-table thead th:nth-child(5)::after { content: "Comm"; }

.penalties-table thead th:nth-child(4),
.penalties-table thead th:nth-child(5) {
    font-size: 0;
}

.penalties-table thead th:nth-child(4)::after,
.penalties-table thead th:nth-child(5)::after {
    font-size: 0.875rem;
}

/* GP */
.penalties-table th:nth-child(1),
.penalties-table td:nth-child(1) {
    width: 24%;
}

/* Pilote */
.penalties-table th:nth-child(2),
.penalties-table td:nth-child(2) {
    width: 24%;
}

/* Équipe */
.penalties-table th:nth-child(3),
.penalties-table td:nth-child(3) {
    width: 24%;
}

/* Pénalité (points) */
.penalties-table th:nth-child(4),
.penalties-table td:nth-child(4) {
    width: 10%;
}

/* Commentaire */
.penalties-table th:nth-child(5),
.penalties-table td:nth-child(5) {
    width: 18%;
}

/* Tableaux Résultats GP */
.gp-season-table thead th:nth-child(6)::after { content: "PP"; }
.gp-season-table thead th:nth-child(7)::after { content: "FL"; }

.gp-season-table thead th:nth-child(6),
.gp-season-table thead th:nth-child(7) {
    font-size: 0;
}

.gp-season-table thead th:nth-child(6)::after,
.gp-season-table thead th:nth-child(7)::after {
    font-size: 1rem;
}

/* Colonne Circuit + Code PAYS et Badge purple PP + FL */
@media screen and (max-width: 700px) {
    .gp-season-table th:nth-child(2),
    .gp-season-table td:nth-child(2) {
        width: 25%;
    }

    .badge-purple {
    padding: 2px 4px;
}
}

@media screen and (max-width: 500px) {
    .gp-season-table th:nth-child(2),
    .gp-season-table td:nth-child(2) {
        width: 30%;
    }

    .badge-purple {
    padding: 1px 2px;
}
}

/* Modal affiche Résultats complets du GP */

.gp-modal {
    min-width: 400px;
}

.modal-gp-title.has-content {
    font-size: 0.85rem;
    padding: 5px 5px 0px 10px;
}

.modal-pp-fl {
    font-size: 0.875rem;
}

.modal-gp-results-table thead th::after {
    font-size: 0.875rem;
}

/* Page Palmarès */

table.sortable th {
    padding-right: 5px;
}

table.sortable th::after {
    font-size: 0.6rem;
}

table.sortable th.asc::after {
    font-size: 0.6rem;
}

table.sortable th.desc::after {
    font-size: 0.6rem;
}

/* Tailles des colonnes */
/* Pilote */
.palmares-drivers-table th:nth-child(2),
.palmares-drivers-table td:nth-child(2) {
    
}

/* 5 colonnes : Champions + Vice-Champions + Troisièmes + Victoires + Podiums */
.palmares-drivers-table th:nth-child(3),
.palmares-drivers-table td:nth-child(3),
.palmares-drivers-table th:nth-child(4),
.palmares-drivers-table td:nth-child(4),
.palmares-drivers-table th:nth-child(5),
.palmares-drivers-table td:nth-child(5),
.palmares-drivers-table th:nth-child(6),
.palmares-drivers-table td:nth-child(6),
.palmares-drivers-table th:nth-child(7),
.palmares-drivers-table td:nth-child(7) {
    width: 8%;
}

/* 2 colonnes : GP + Pts */
.palmares-drivers-table th:nth-child(8),
.palmares-drivers-table td:nth-child(8),
.palmares-drivers-table th:nth-child(9),
.palmares-drivers-table td:nth-child(9) {
    width: 9%;
}