/* Tablette */

.hero-section {
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

.hero-section img {
    width: 600px;
    height: 100%;
    max-width: none;
    object-fit: cover;
    display: block;
}

.hero-section.flex-reverse {
    flex-direction: column-reverse;
}

.img-object-position-top {
    object-position: top;
}

.img-object-position-bottom {
    object-position: bottom;
}

.section-dashboard {
    margin: 25px;
    padding: 25px;
}

.login-container {
    width: 450px;
    margin: 25px auto;
    padding: 25px;
}

/* Infos dernière mise à jour */
.lu-desktop {
    display: none;
}

/* Classements */

/* Classement Pilotes uniquement */
/* .drivers-table thead th:nth-child(1)::after { content: ""; }
.drivers-table thead th:nth-child(2)::after { content: "Pilote"; }
.drivers-table thead th:nth-child(3)::after { content: ""; }
.drivers-table thead th:nth-child(4)::after { content: "Pts"; }
.drivers-table thead th:nth-child(5)::after { content: "GP"; }
.drivers-table thead th:nth-child(6)::after { content: "Vict"; }
.drivers-table thead th:nth-child(7)::after { content: "Podi"; } */
.drivers-table thead th:nth-child(8)::after { content: "PP"; }
.drivers-table thead th:nth-child(9)::after { content: "FL"; }

/* .drivers-table thead th {
    font-size: 0;
} */

/* .drivers-table thead th::after {
    font-size: 1rem;
    font-weight: 600;
    display: block;
} */

/* Colonne Pilote */
.drivers-table td.driver-cell,
.drivers-table th:nth-child(2) {
    width: 25%;
}

/* Colonne Équipe */
.drivers-table td.team-cell,
.drivers-table th:nth-child(3) {
    width: 15%;
}

/* Background image logo écurie */
.team-cell {
    background-position: right -50px center;
}

/* Tableaux Résultats GP */
.gp-season-table thead th:nth-child(6)::after { content: "Pole"; }
.gp-season-table thead th:nth-child(7)::after { content: "FastestL"; }

.gp-season-table thead th:nth-child(6),
.gp-season-table thead th:nth-child(7) {
    font-size: 0;
}

.gp-season-table thead th:nth-child(6)::after,
.gp-season-table thead th:nth-child(7)::after {
    font-size: 1rem;
}

/* Page Palmarès */

table.sortable th {
    padding-right: 5px;
}

table.sortable th::after {
    font-size: 0.8rem;
}

table.sortable th.asc::after {
    font-size: 0.8rem;
}

table.sortable th.desc::after {
    font-size: 0.8rem;
}

/* Tailles des colonnes */

/* 5 colonnes : Champions + Vice-Champions + Troisièmes + Victoires + Podiums */
.palmares-drivers-table th:nth-child(3),
.palmares-drivers-table td:nth-child(3),
.palmares-drivers-table th:nth-child(4),
.palmares-drivers-table td:nth-child(4),
.palmares-drivers-table th:nth-child(5),
.palmares-drivers-table td:nth-child(5),
.palmares-drivers-table th:nth-child(6),
.palmares-drivers-table td:nth-child(6),
.palmares-drivers-table th:nth-child(7),
.palmares-drivers-table td:nth-child(7) {
    width: 8%;
}

/* 2 colonnes : GP + Pts */
.palmares-drivers-table th:nth-child(8),
.palmares-drivers-table td:nth-child(8),
.palmares-drivers-table th:nth-child(9),
.palmares-drivers-table td:nth-child(9) {
    width: 9%;
}

/* DASHBOARD */

/* Boutons de la 1ère page du dashboard */
.home-nav-btn-dashboard h3 {
    font-size: 1rem ;
}

/* Table GP Pole & Fastest Lap */
/* Pour les noms des GP */
.dashboard-table td.width-namegp-pp-fl {
    font-size: 0.75rem;
}

/* Pour les noms des pilotes et teams */
.dashboard-table td.driver-team-pp-fl {
    font-size : 0.85rem;
}

/* Pour les chronos */
.dashboard-table th.width-chrono,
.dashboard-table td.width-chrono {
    width: 80px;
}