/* Tablette */

.hero-section {
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.hero-section img {
    width: 600px;
    height: 100%;
    max-width: none;
    object-fit: cover;
    display: block;
}

.hero-section.flex-reverse {
    flex-direction: column-reverse;
}

.img-object-position-top {
    object-position: top;
}

.img-object-position-bottom {
    object-position: bottom;
}