html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: 'Titillium Web', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    color: #d4d7dd;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #15151E;

    /* Valeur par défaut : dégradé vers le bas */
    --fade-dir: to bottom;

    background-image:
        linear-gradient(var(--fade-dir),
            transparent 40%,
            #15151E 100%
        ),
        repeating-linear-gradient(
            135deg,           
            rgba(255,255,255,0.05) 0 40px,   
            transparent 40px 45px,       
            rgba(255,255,255,0.05) 45px 85px,
            transparent 85px 200px,
            rgba(255,255,255,0.05) 200px 230px,
            transparent 230px 235px,       
            rgba(255,255,255,0.05) 235px 265px,
            transparent 265px 400px
        );
}

/* Fondu vers le haut des bandes claires */
footer {
    --fade-dir: to top;
}

.nav-btn {
    padding: 10px 22px;
    border-radius: 20px;
    background: #000000;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s; /* Animation douce */
}

.nav-btn:hover {
    background-color: white;
    color: #000000;
}

.nav-btn.red { 
    background: #E10600; 
}

.nav-btn.red:hover {
    background-color: #fdbcba;
    color: #000000;
}

.section {
    display: flex;
    justify-content: space-around ;
    background: #15151E;
    margin: 40px;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

/* Visuel Dashboard */
.section-dashboard {
    background: #15151E;
    margin: 40px;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

.section-btn-dashboard {
    height: 35px;
}

.nav-btn-dashboard {
    padding: 10px 22px;
    border-radius: 20px;
    background: #000000;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s; /* Animation douce */
}

.nav-btn-dashboard:hover {
    background-color: white;
    color: #000000;
}

.nav-btn-dashboard.red { 
    background: #E10600; 
}

.nav-btn-dashboard.red:hover {
    background-color: #fdbcba;
    color: #000000;
}

/* .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    background: #1e1f29;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
} */

.section img {
    display: flex;
    max-width: 45%;
    max-height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

.logo_and_name_header {
    display: flex;
    align-items: center;
    width: 40%;
}

.logo_header img, .logo_footer img {
    max-width: 100px;
    height: auto;
}

.name_header {
    font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    padding-left: 5%;
}

.text-block { 
    width: 55%; 
}

.text-block h2 {
    font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    margin-bottom: 12px;
}

/* Formulaire de connexion au DASHBOARD */
.login-container {
    background-color: #15151E;
    max-width: 50%;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
}

.login-container h1 {
    text-align: center;
    margin-top : 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border:0;
    font-size: 14px;
    border-radius: 10px;
    text-indent: 20px;
}

.btn {
    font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #E10600;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #fdbcba;
    color: #000000;
}

.error-message {
    background-color: rgb(248, 157, 54);
    color: black;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}

/* TABLES REPONSIVES */

.table-responsive {
    overflow-x: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background: #0f0f15;
    border-radius: 10px;
    overflow: hidden;
}

.dashboard-table th {
    background: #E10600;
    padding: 12px;
    text-align: left;
    color: white;
    font-weight: 600;
}

.dashboard-table td {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.dashboard-table tr:hover td {
    background: rgba(255,255,255,0.03);
}

.actions-column {
    text-align: center;
}

/* BOUTONS ACTIONS DE LA LISTE / UPDATE ET DELETE*/

.action-btn {
    padding: 8px;
    border-radius: 50%;
    margin: 0 4px;
    text-decoration: none;
    display: inline-flex;
}

.action-btn.edit {
    background: #1e90ff;
    color: white;
}

.action-btn.delete {
    background: #E10600;
    color: white;
}

.action-btn:hover {
    opacity: .8;
}

/* MESSAGE SUCCES OU ECHEC */

.msg-success {
    text-align: center;
    background: #66fd93;
    color: #000000;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    font-weight: bold;
}

.msg-error {
    text-align: center;
    background: #E10600;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    font-weight: bold;
}



/* FORMULAIRES */

.form-wrapper {
    background: #0f0f15;
    padding: 25px;
    border-radius: 15px;
    margin-top: 25px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #ffffff;
}

.form-group input,
.form-group select {
    width: 100%;
    /* padding: 12px; */
    border-radius: 10px;
    border: none;
    background: #1c1c26;
    color: white;
    font-size: 15px;
}

.form-group select {
    padding: 12px;
}

.form-group input:focus,
.form-group select:focus {
    outline: 2px solid #E10600;
}

.btn, button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #E10600;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #fdbcba;
    color: #000;
}

.btn.danger {
    background: #c00000;
}

.delete-actions {
    width: 100%;
}

.delete-actions form {
    margin: 0; /* supprime le margin du form */
}

.btn-danger,
.btn-light {
    width: 100%;
    display: block;
}

.btn-light {
    width: 100%;
    padding: 12px 0px 12px 0px;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    color: #000000;
    /* font-weight: bold; */
    cursor: pointer;
    text-align: center;
    display: block; /* clé pour occuper toute la largeur */
    margin-top: 15px;
    text-decoration: none; /* enlève le souligné */
}

.btn-light:hover {
    background: #919090;
}


/* RESPONSIVE */

@media (max-width: 700px) {

    .section-dashboard {
        margin: 15px;
        padding: 20px;
    }

/* MESSAGE SUCCES OU ECHEC */

    .msg-success {
        margin: 15px;
        padding: 20px;
    }

    .msg-error {
        margin: 15px;
        padding: 20px;
    }

    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .dashboard-table th, .dashboard-table td {
        font-size: 14px;
        padding: 8px;
    }
}

