/* Tablette */

.hero-section {
    flex-direction: column;
    margin: 25px;
    padding: 25px;
}

.hero-section img {
    width: 600px;
    height: 100%;
    max-width: none;
    object-fit: cover;
    display: block;
}

.hero-section.flex-reverse {
    flex-direction: column-reverse;
}

.img-object-position-top {
    object-position: top;
}

.img-object-position-bottom {
    object-position: bottom;
}

.section-dashboard {
    margin: 25px;
    padding: 25px;
}

.login-container {
    width: 450px;
    margin: 25px auto;
    padding: 25px;
}

/* Infos dernière mise à jour */
.lu-desktop {
    display: none;
}

/* Classements */

/* Classement Pilotes uniquement */
/* .drivers-table thead th:nth-child(1)::after { content: ""; }
.drivers-table thead th:nth-child(2)::after { content: "Pilote"; }
.drivers-table thead th:nth-child(3)::after { content: ""; }
.drivers-table thead th:nth-child(4)::after { content: "Pts"; }
.drivers-table thead th:nth-child(5)::after { content: "GP"; }
.drivers-table thead th:nth-child(6)::after { content: "Vict"; }
.drivers-table thead th:nth-child(7)::after { content: "Podi"; } */
.drivers-table thead th:nth-child(8)::after { content: "PP"; }
.drivers-table thead th:nth-child(9)::after { content: "FL"; }

/* .drivers-table thead th {
    font-size: 0;
} */

/* .drivers-table thead th::after {
    font-size: 1rem;
    font-weight: 600;
    display: block;
} */

/* Colonne Pilote */
.drivers-table td.driver-cell,
.drivers-table th:nth-child(2) {
    width: 25%;
}

/* Colonne Équipe */
.drivers-table td.team-cell,
.drivers-table th:nth-child(3) {
    width: 15%;
}

/* Background image logo écurie */
.team-cell {
    background-position: right -50px center;
}